html, body {
    background-color: #b75b04;
    margin: 0;

}

body {
    font-family: 'Garamond', 'Trebuchet MS';
}

header {
    background-color: #b75b04;
    text-align: center;
}

nav {
    width: 100%;
    margin: auto;
    overflow: auto;
    background-color: #f5ad6b;
}

nav a {
    float: left;
    padding: 10px 0px;
    margin: 0px;
    text-decoration: none;
    color:black;
    width: 20%;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
}

nav a:hover {
    background-color: #b75b04;
    color:rgb(255, 255, 255);
}

@media only screen and (max-width: 500px) {
    nav a {
        float: none;
        display: block;
        width:100%;
        text-align: center;
    }
}

h2 {
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

#Art {
    background-color: #6e5741;
    margin-top: 0px;
}

#Art img {
    width: 340px;
    height: 474px;
}

.big-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.big-box a {
    height: 474px;
    margin-top: 10px;
}

.box {
position: relative;
float: left;
margin: 0 25px;
}

.slide {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: rgba(255, 255, 255, 0.75);
overflow: hidden;
width: 100%;
height: 0%;
transition: .5s ease;
}

.box:hover .slide {
    height: 100%;
}

.text {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.About-Eta {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.Etina-slika {
    background-color: blue;
    height: 100%;
    width: 200px;
}

.Etin-opis {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 600px;
}

#Events {
    width: 100%;
    background-color: white;
}

.Upcoming-events {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.Upcoming-events img {
    width: 350px;
    height: 200px;
}

.Upcoming-events h5 {
    font-size: 20px;
    margin: 0;
}

.Upcoming-events p {
    font-size: 16px;
    margin: 0;
}

.Art-Show-left , .Art-Show-center, .Art-Show-right {
    display: inline-block;
    padding: 50px;
}

.Contact {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Address {
    background-color: rgb(38, 182, 25);
    height: 100%;
    width: 200px;
    float: left;
    text-align: center;
}

iframe {
    width: 600px;
    height: 300px
}

footer {
    width: 100%;
    height: 50px;
    font-size: 20px;
}

.footer-copyright {
    float: left;
    padding-left: 20px;
}

.footer-span-right {
    float: right;
    padding-right: 20px;
}

.footer-span {
    padding-top: 16px;
}