html {
    background-color: #e7e7e7;
}

body {
    font-family: 'Garamond', 'Trebuchet MS';
    margin: auto;
}

 /*---------------------------------------------------Header----------------------------------------------*/

header {
    background-color: #000000;
    text-align: center;
    width: 100%;
    height: 233px;
}

.logo {
    display: block;
    width: 20%;
    height: 100%;
    margin: auto;
    padding: 0;
    float: left;
}

.logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.gallery-name {
    float: left;
    width: 80%;
    height: 100%;
    color: #e7e7e7;
}

.gallery-name div {
    height: 100%;
    margin: auto;
    display: flex;
}

h1 {
    margin: auto;
    font-size: 9vw;
}

 /*-----------------------------------------------------Nav-bar----------------------------------------------*/

nav {
    width: 100%;
    margin: auto;
    overflow: auto;
    background-color: #e7e7e7;
}

nav a {
    float: left;
    padding: 20px 0px 10px;
    margin: 0px;
    text-decoration: none;
    background-image: linear-gradient(to bottom, #000000, #e7e7e7);
    color:black;
    width: 20%;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
}

nav a:hover {
    color:#e7e7e7;
    background-image: linear-gradient(to bottom, #000000, #000000);
}

@media only screen and (max-width: 500px) {
    nav a {
        float: none;
        display: block;
        width:100%;
        text-align: center;
    }
}

 /*-----------------------------------------------------Art--------------------------------------------------*/

#art {
    background-color: #e7e7e7;
    margin-top: 0px;
}

#art img {
    width: 340px;
    height: 474px;
}

.big-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.big-box a {
    height: 474px;
    padding: 30px 0;
}

.box {
    height: 100%;
    position: relative;
    float: left;
    margin: 0px 25px;
}

.slide {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(188, 188, 188, 0.75);
    overflow: hidden;
    width: 100%;
    height: 0%;
    transition: .5s ease;
}

.box:hover .slide {
    height: 100%;
}

.text {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    background-color: #e7e7e7;
    height: 15px;
    border: 0;
    margin: 0;
    box-shadow: inset 0 12px 12px -12px #000000;
  }


  /*----------------------------------------About the Artist------------------------------------------*/

.about-eta {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    background-color: #e7e7e7;
}

.etina-slika {
    height: 200px;
    width: 200px;
    border: 2px solid #000000;
    display: flex;
    box-sizing: border-box;
}

.etina-slika img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.etin-opis {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 40%;
    overflow: auto;
    font-family: 'Garamond','Verdana', 'Georgia', 'sans-serif';
}

h3 {
    font-size: 1.5em;
    padding-left: 20px;
    padding-top: 10px;
}

.etin-opis p {
    margin: 20px;
}

h2 {
    float: left;
    font-size: 2em;
    margin: 0;
    padding: 20px;
    color: #000000;
}

 /*-------------------------------------------------Exhibitions------------------------------------------------*/

#exhibitions {
    width: 100%;
    background-color: #e7e7e7;
    padding: 0 0 30px 0;
}

.upcoming-exhibitions {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    margin: auto;
    font-family: 'Garamond','Verdana', 'Georgia', 'sans-serif';
}

.art-show-left , .art-show-center, .art-show-right {
    float: left;
    width: 450px;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
}

.upcoming-exhibitions img {
    width: 100%;
    height: 250px;
}

.upcoming-exhibitions span {
    margin: 0;
    padding: 0 20px;
    text-align: center;
}

.upcoming-exhibitions p {
    font-size: 1.12em;
    margin: 20px auto;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden !important;
}

.upcoming-exhibitions p:hover {
   white-space: unset;
   text-overflow: unset;
}

 /*-------------------------------------------------Contact----------------------------------------------*/

.contact {
    width: 100%;
    height: 200px;
    padding: 0 0 30px 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.address {
    background-color: #000000;
    height: 100%;
    width: 250px;
    float: left;
    color: #e7e7e7;
    font-size: 1.12em;
    display: table;
}

.address p {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

#map {
    width: 500px;
    height: 200px;
}

iframe {
    width: 100%;
    height: 100%;
}

 /*--------------------------------------------------Footer------------------------------------------------*/

footer {
    height: 80px;
    display: flex;
    background-color: #000000;
    font-size: 2vw;
    margin: 0%;
}

.copyright {
    float: left;
    width: 50%;
    color:#e7e7e7;
    display: flex;
}

.copyright-text {
text-align: left;
margin: auto 0;
}

.copyright-text i {
    padding-right:8px;
    padding-left: 30px;
}

footer ul {
    float: right;
    width: 50%;
    text-align: right;
    margin: auto;
}

footer ul > li {
    display: inline;
}

footer ul i {
    padding-right: 30px;
    color:#e7e7e7
}

.hr-footer {
    background-color: #000000;
    height: 15px;
    border: 0;
    margin: 0;
    box-shadow: inset 0px 12px 12px -12px #e7e7e7;
}