html {
    background-color: #e7e7e7;
}

body {
    font-family: 'Garamond', 'Trebuchet MS';
    margin: auto;
}

 /*---------------------------------------------------Header----------------------------------------------*/

header {
    background-color: #000000;
    text-align: center;
    width: 100%;
    height: 18vw;
}

.logo {
    display: block;
    width: 20%;
    height: 100%;
    margin: auto;
    padding: 0;
    float: left;
}

.logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.gallery-name {
    float: left;
    width: 80%;
    height: 100%;
    color: #e7e7e7;
}

.gallery-name div {
    height: 100%;
    margin: auto;
    display: flex;
}

h1 {
    margin: auto;
    font-size: 9vw;
}

 /*-----------------------------------------------------Nav-bar----------------------------------------------*/

nav {
    width: 100%;
    margin: auto;
    overflow: auto;
    background-color: #e7e7e7;
}

nav a {
    float: left;
    padding: 20px 0px 10px;
    margin: 0px;
    text-decoration: none;
    background-image: linear-gradient(to bottom, #000000, #e7e7e7);
    color:black;
    width: 20%;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
}

nav a:hover {
    color:#e7e7e7;
    background-image: linear-gradient(to bottom, #000000, #000000);
}

@media only screen and (max-width: 650px) {
    nav a {
        font-size: 20px;
    }
}

@media only screen and (max-width: 520px) {
    nav a {
        font-size: 16px;
    }
}

@media only screen and (max-width: 420px) {
    nav a {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
        font-size: 16px;
    }
}

 /*-----------------------------------------------------Art--------------------------------------------------*/

#art {
    background-color: #e7e7e7;
    margin-top: 0px;
}

#art img {
    width: 21vw;
    height: 28vw;
}

.big-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.big-box a {
    height: 28vw;
    padding: 30px 0;
}

.box {
    height: 100%;
    position: relative;
    float: left;
    margin: 0px 25px;
}

.slide {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(188, 188, 188, 0.75);
    overflow: hidden;
    width: 100%;
    height: 0%;
    transition: .5s ease;
}

.box:hover .slide {
    height: 100%;
}

.text {
    color: rgb(0, 0, 0);
    font-size: 4vw;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    background-color: #e7e7e7;
    height: 15px;
    border: 0;
    margin: 0;
    box-shadow: inset 0 12px 12px -12px #000000;
  }


  /*----------------------------------------About the Artist------------------------------------------*/

.about-eta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    background-color: #e7e7e7;
}

@media only screen and (max-width: 600px) {
    .about-eta {
        flex-direction: column;
    }
}

.etina-slika {
    border: 2px solid #000000;
    width: 225px;
    height: 225px;
}

.etina-slika img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.etin-opis {
    background-color: rgb(255, 255, 255);
    width: 55%;
    font-family: 'Garamond','Verdana', 'Georgia', 'sans-serif';
}

@media only screen and (max-width: 600px) {
    .etin-opis {
        width: 95%;
    }
}

h3 {
    font-size: 1.5em;
    padding-left: 20px;
    padding-top: 10px;
}

.etin-opis p {
    margin: 20px;
}

h2 {
    float: left;
    font-size: 2em;
    margin: 0;
    padding: 20px;
    color: #000000;
}

 /*-------------------------------------------------Exhibitions------------------------------------------------*/

#exhibitions {
    width: 100%;
    background-color: #e7e7e7;
    padding: 0 0 30px 0;
}

.upcoming-exhibitions {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    margin: auto;
    font-family: 'Garamond','Verdana', 'Georgia', 'sans-serif';
}

.art-show-left , .art-show-center, .art-show-right {
    float: left;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 420px) {
    .art-show-left , .art-show-center, .art-show-right {
        width: 300px;
    }
}

.art-show-left div, .art-show-center div, .art-show-right div {
    margin: 0;
    padding: 0 20px;
    text-align: center;
}

.upcoming-exhibitions img {
	width: 100%;
    height: 257px;
}

@media only screen and (max-width: 420px) {
    .upcoming-exhibitions img {
        height: 185.7px;
    }
}

.upcoming-exhibitions p {
    font-size: 1.12em;
    margin: 20px auto;
}

.exhibition1, .exhibition2, .exhibition3 {
    position: relative;
}

.exhibition1-content, 
.exhibition2-content,
.exhibition3-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display:block;
    transition: .5s ease;
}

.exhibition1 input[type="checkbox"], 
.exhibition2 input[type="checkbox"], 
.exhibition3 input[type="checkbox"] {
    width: 0;
    height: 0;
}

.more-less-btn {
    position: absolute;
    color: #FFF;
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 4px;
    display: inline-block;
    background-color: #000;
    right: 30px;
    top: 10px;
    border: 2px solid white;
}

@media only screen and (max-width: 420px) {
    .more-less-btn {
        font-size: 12px;
  		padding: 2px 2px;
    }
}

.exhibition1 input[type="checkbox"]:checked ~ .exhibition1-content,
.exhibition2 input[type="checkbox"]:checked ~ .exhibition2-content, 
.exhibition3 input[type="checkbox"]:checked ~ .exhibition3-content {
    display: block;
    white-space: normal;
    overflow: visible;
}

 /*-------------------------------------------------Contact----------------------------------------------*/

.contact {
    width: 100%;
    height: 200px;
    padding: 0 0 30px 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.address {
    background-color: #000000;
    height: 100%;
    width: 250px;
    float: left;
    color: #e7e7e7;
    font-size: 1.12em;
    display: table;
}

.address p {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

#map {
    width: 500px;
    height: 200px;
}

iframe {
    width: 100%;
    height: 100%;
}

 /*--------------------------------------------------Footer------------------------------------------------*/

footer {
    height: 80px;
    display: flex;
    background-color: #000000;
    margin: 0%;
}

.copyright {
    width: 50%;
    color:#e7e7e7;
    display: flex;
    font-size: 160%;
}

@media only screen and (max-width: 667px) {
    .copyright {
        font-size: 3.15vw;
    }
}

.copyright-text {
text-align: left;
margin: auto 2vw;
}

.copyright-text i {
    padding-right: 8px;
}

footer ul {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    padding-left: 0%;
}

footer ul > li {
    padding-right: 3vw;
    font-size: 160%;
}

@media only screen and (max-width: 420px) {
    footer ul > li {
        font-size: 6vw;
    }
}

footer ul i {
    color:#e7e7e7
}

.hr-footer {
    background-color: #000000;
    height: 15px;
    border: 0;
    margin: 0;
    box-shadow: inset 0px 12px 12px -12px #e7e7e7;
}

 /*--------------------------------------------------Photo gallery------------------------------------------------*/

h4 {
    text-align: center;
    font-size: 40px;
    color: #000000;
    margin: 15px;
}

@media only screen and (max-width: 650px) {
    h4 {
        font-size: 35px;
    }
}

@media only screen and (max-width: 520px) {
    h4 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 420px) {
    h4 {
        font-size: 25px;
    }
}

img {
    width: 18vw;
    height: 24vw;
}

.photo-gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.photo {
float: left;
margin: 20px auto;
padding: 2.5%;
border: 2px solid #000000;
}

.photo p {
    margin-bottom: 30px;
    font-family: 'Garamond','Verdana', 'Georgia', 'sans-serif';
}