html {
    background-color: #353535;
}

body {
    font-family: 'Garamond', 'Trebuchet MS';
    margin: auto;
}

header {
    background-color: #000000;
    text-align: center;
    width: 100%;
    height: 233px;
}

.logo {
    display: block;
    width: 20%;
    height: 100%;
    margin: auto;
    padding: 0;
    float: left;
}

.logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.gallery-name {
    float: left;
    width: 80%;
    height: 100%;
    color: #e7e7e7;
}

.gallery-name div {
    height: 100%;
    margin: auto;
    display: flex;
}

h1 {
    margin: auto;
    font-size: 9vw;
}

nav {
    width: 100%;
    margin: auto;
    overflow: auto;
    background-color: #e7e7e7;
}

nav a {
    float: left;
    padding: 10px 0px;
    margin: 0px;
    text-decoration: none;
    background-image: linear-gradient(to bottom, #000000, #e7e7e7);
    color:black;
    width: 20%;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
}

nav a:hover {
    color:#e7e7e7;
    background-image: linear-gradient(to bottom, #000000, #000000);
}

@media only screen and (max-width: 500px) {
    nav a {
        float: none;
        display: block;
        width:100%;
        text-align: center;
    }
}

#Art {
    background-color: #e7e7e7;
    margin-top: 0px;
}

#Art img {
    width: 340px;
    height: 474px;
}

.big-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.big-box a {
    height: 474px;
    padding: 30px 0;
}

.box {
    height: 100%;
    position: relative;
    float: left;
    margin: 0px 25px;
}

.slide {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(188, 188, 188, 0.75);
    overflow: hidden;
    width: 100%;
    height: 0%;
    transition: .5s ease;
}

.box:hover .slide {
    height: 100%;
}

.text {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    background-color: #e7e7e7;
    height: 15px;
    border: 0;
    margin: 0;
    box-shadow: inset 0 12px 12px -12px #000000;
  }

.About-Eta {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    background-color: #e7e7e7;
}

.Etina-slika {
    background-color: #c40000;
    height: 196px;
    width: 196px;
    border: 2px solid #000000;
    display: flex;
}

.Etina-slika img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.Etin-opis {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 40%;
    overflow: auto;
}

h4 {
    font-size: 1.5em;
    margin: 0%;
    padding-left: 20px;
    padding-top: 10px;
}

.Etin-opis p {
    margin: 20px;
}

h3 {
    float: left;
    font-size: 2em;
    margin: 20px 0;
    padding: 20px;
    color: #e7e7e7;
    background-color: rgb(0, 0, 0);
}

#Exhibitions {
    width: 100%;
    background-color: #e7e7e7;
    padding: 30px 0;
}

.Upcoming-exhibitions {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    margin: auto;
}

.Art-Show-left , .Art-Show-center, .Art-Show-right {
    float: left;
    width: 450px;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
}

.Upcoming-exhibitions img {
    width: 100%;
    height: 250px;
}

.Upcoming-exhibitions span {
    margin: 0;
    padding: 0 20px;
    text-align: center;
}

.Upcoming-exhibitions p {
    font-size: 1.12em;
    margin: 20px auto;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden !important;
}

.Upcoming-exhibitions p:hover {
   white-space: unset;
   text-overflow: unset;
}

.Contact {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Address {
    background-color: rgb(38, 182, 25);
    height: 100%;
    width: 200px;
    float: left;
    text-align: center;
}

iframe {
    width: 600px;
    height: 300px
}

footer {
    width: 100%;
    height: 50px;
    font-size: 20px;
}
